@import "../node_modules/ol/ol.css";

:root {
  --black-shadow: 0 0 1em #000;
}
html,
body {
  margin: 0;
  height: 100%;
  z-index: -2;

}
nav {
  pointer-events: auto;
  z-index: 2;
}
.map {
  position: absolute;
  overflow: hidden;
/* pointer-events: none; */
  top: 0;
  bottom: 0;
  width: 100%;
} 

/* #main-map:first-of-type { display:none; } */

#control-panel {
  background-color: whitesmoke;
}
nav {
  position: absolute;
}
.ol-zoom {
  top: 65px;
  right: 8px;
  background-color: transparent;
}

.modal-content {
  background-color: rgba(255, 255, 255, .25) I !important;
}

.toxic-table {
  margin: 10px;
  padding: 10px;
}

.btn-flat {
  background-color: #4682A9 !important;
  color: white !important;
}

.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.navbar-main {
  background: #f7f5f2 !important;
  box-shadow: var(--black-shadow);
}

.slide-pane__header {
  background: #f7f5f2 !important;
}
.slide-pane_from_bottom {
  height: 45vh !important;
  margin-top: 55vh !important;
  box-shadow: var(--black-shadow) !important;

}